RewriteEngine on 
#RewriteBase /files/ 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1.php [NC,L]

# <If "%{HTTP_HOST} == 'stwss.herokuapp.com'">
#     AuthUserFile /app/www/.htpasswd
#     AuthType Basic
#     AuthName "Restricted Access"
#     Require valid-user
# </If>